button {
    -moz-appearance: none;
}

.botao-busca {
    height: 40px;
    background-color: rgb(241, 241, 241);
    border: 0px;
    border-radius: 6%;
    margin-top: 30px;
    margin-right: 10px;
    
}

.botao-busca:hover, .login:hover {
    border: 1px solid rgb(221, 221, 221);
}

.buscador {
    text-align: center;
    margin-top: 30vh;
}

.login {
    border-radius: 6px;
    border: 0px;
    height: 36px;
    width: 120px;
    background-color: #0377e4c9;
    box-shadow:0 1px 1px rgba(0,0,0,.16);
    color: white;
    margin-top: 6px;
}

input {

    border-radius: 12px;
    border: 1px solid rgb(230, 230, 230);
    height: 30px;
}
topo {
    width: 100%;
    position: fixed;
    height: 50px;
    font-size: 15px;

}


footer {
    font-size: 12px;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgb(238, 238, 238);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li {
    display: inline;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(87, 84, 84);
}
